@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/background.png);
	font-family: Avenir, Arial;
	color: #fff;
}


.frontend-training-wrapper {
	width: 800px;
	position: relative;
	margin: 0px auto;


	h1 {
		font-size: 24px;
	
	}

	.main-title {
		h1 {
			font-family: 'Special Elite', AnotherTypeWriter, Rockwell, "Times New Roman";
			font-size: 36px;
			color: #f30453;
			text-align: center;
			padding: 30px;
		} 
	}

	a {
		color: #03bbe9;
		text-decoration: none;
		-webkit-transition: color 1s;
		-moz-transition: color 1s;

		&:hover {
			color: #d2e9ef;
		}
	}

	.frontend-training-menu-wrapper {
		width: 800px;
		text-align: center;
		
		margin: 0px auto 20px auto;

		ul {
			margin: 0px;
			padding: 0px;
		}

		li {
			list-style: none;
			display: inline-block;
			text-align: center;
			margin: 0px 20px;
			font-size: 16px;
			
			padding: 10px 12px;

			a {
				text-decoration: none;
				color: #d5e803;
				font-family: 'Special Elite', AnotherTypeWriter, Rockwell, "Times New Roman";
			}
		} 
	} 

	.content-wrapper {
		margin-top: 50px;

		.interface img {
			width: 600px;
		}
	}
}

